.img-logo{
    width: 8rem;
}
.container-xl-main{
    background-image: url("../images/background-adare.jpg");
    background-size: cover;
    text-align: center;
}
.h2-md-title{
    font-family: Whisper;
    color: #fff;
    font-size: 4.8rem;
}
.section-lg-home{
    padding: 1rem;
}
.art-md-pr{
    font-family: system-ui, sans-serif;
    font-size: 1.2rem;
    color: #fff;
}
.div-md-btn{
    margin: 5em;
}

