/* Componente de carta*/
.card-md-section {
    box-sizing: border-box;
    width: 100%;
    height: 89%;
    background: rgba(255, 255, 255, 0.58);
    border: 1px solid rgb(175, 173, 173);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    user-select: none;
    color: black;
}

.card:hover {
    border: 1px solid rgb(114, 114, 114);
    transform: scale(1.03);
}

.card:active {
    transform: scale(0.95) rotateZ(1.2deg);
}
.img-dish{
    width: 100%;
    height: 100%;
}
.row-info{
    font-family: Whisper;
    font-size: 1.4em;
}