.nv-lg-items ul li a::after{
    background-color: rgb(255, 115, 0) !important;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 90%;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: 0.25s ease-in-out;
}
.nv-lg-items ul li a:hover::after{
    transform: scaleX(1.1);
    transform-origin: bottom left;
}

.nv-lg-items ul li{
    margin: 1.2em;
}
.nv-lg-items ul li a{
    transition: transform 0.4s ease-in-out;
    font-size: 1.3rem;
}
.nv-lg-items ul li a:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.nv-lg-items {
    backdrop-filter: blur(0.3em);
    -webkit-backdrop-filter: blur(0.5em);
}